body {
  background-color: cornsilk;
  color: darkgreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  overflow-x: hidden;
}

h2 {
  font-size: 1.5em;
  padding: 1%;
  text-align: center;
} 

header,
footer {
    padding: 0.5%;
    background-color: darkcyan;
    color: ghostwhite;
}

header {
  border-radius: 2px;
  border-color: steelblue;
  border-style:outset;
}

form.form {
  display: table;
}

#formContainer {
  display: flex;
  justify-content: center;
}

div.form {
  display: table-row;
}

label,
input,
select {
  display: table-cell;
  margin-bottom: 10px;
}

select {
  padding: 1%;
}

label {
  padding-left: 10px;
  padding-right: 10px;
}

#formBtn {
  padding: 7px;
  margin: 10px;
  background-color: darkcyan;
  color: ghostwhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
}

main {
  background-color: lightyellow;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  border-color: steelblue;
  border-style:outset;
}

p {
  padding: 1%;
  text-align: center;
}

#navMenu,
.menuBtn {
    display: none;
}

#headMenu {
  list-style-type: none;
  font-size: 1.1em;
  word-spacing: 0.1em;
  width: 500px;
}

ul {
  list-style-type: none;
}

#navMenu li a {
  display: none;
}

#headMenu li {
  display: inline;
}

#headMenu li a {
  padding: 12px 12px;
  color: ghostwhite;
  text-decoration: none;
}

.active {
  border-radius: 3px;
  border-style: ridge;
  border-width: 3px;
}

@media screen and (max-width: 1024px) {
  #headMenu {
      display: none;
  }

  #navMenu li a {
      display: inline;
  }

  .menuBtn {
      display: flex;
      align-items: center;
      padding: 8px 15px;
      background-color: darkcyan;
      border: ghostwhite ridge;
      color: ghostwhite;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
  }

  .open {
      position: absolute;
      top: 3%;
      right: 5%;
  }

  .close {
      position: absolute;
      top: 50%;
      right: 27%;
  }

  .bars {
      display: block;
      width: 20px;
      height: 3px;
      background-color: ghostwhite;
      margin: 5px 3px;
  }

  .cross1 {
      width: 20px;
      transform: rotate(45deg);
      position: relative;
      top: 5px;
  }

  .cross2 {
      width: 20px;
      transform: rotate(135deg);
      position: relative;
      top: -3px;
  }


  #navMenu {
      background-color: darkcyan;
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 200px;
      display: none;
  }

  ul {
      list-style-type: none;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      font-size: 1em;
      text-align: left;
  }

  li {
      padding: 0.8em;
      width: 100%;
  }

  a:link,
  a:visited {
      color: ghostwhite;
      text-decoration: none;
  }
}
